@page
@model Clippy.Pages.Bookmarks.IndexModel
@{
    ViewData["Title"] = "Bookmarks";
}

@* styles *@
    <link rel="stylesheet" href="/css/bookmarks.css" />

<div class="body">
    <section class="options">
        <ul>
            <li><img src="/images/resources/BookmarkIcon.png"><a asp-page="Manage">Manage Bookmarks</a></li>
        </ul>

    </section>

    <section class="content-main">
        <div class="card-main">

            @if (@Model.Bookmarks.Count > 1)
                { <p>Welcome, @User.Identity.Name! <br>You have @Model.Bookmarks.Count bookmarks. Great Job!</p> }
            else if(@Model.Bookmarks.Count == 1)
                { <p>Welcome, @User.Identity.Name! <br>You have @Model.Bookmarks.Count bookmark. <br>Great Job!</p> }
            else
                { <p>Welcome, @User.Identity.Name! <br>You have no bookmark. Come on dude.... </p> }

        </div>

        <div class="card-main">
            <h3>
                Bookmarks
            </h3>
            <ul>
            @foreach (var bookmark in Model.Bookmarks)
            {
                <li>@bookmark.Resource.Location</li>
            }
            </ul>
        </div>
    </section>
</div>
