@page
@model Clippy.Pages.Bookmarks.IndexModel
@{
    ViewData["Title"] = "Bookmarks";
}

@* styles *@
<link rel="stylesheet" href="/css/bookmarks.css" />
@if (!Model.ThisUser.ClippyMode)
{
    <link rel="stylesheet" href="/css/noclippymode.css" />
}

<div class="body">
    <section class="content-main">
        <div class="card-main">
            @{
                string name = !string.IsNullOrWhiteSpace(Model.ThisUser.Name) ? Model.ThisUser.Name : Model.ThisUser.Username;
            }
            @if (@Model.Bookmarks.Count > 1)
                { <p>Welcome, @name! <br>You have @Model.Bookmarks.Count bookmarks. Great Job!</p> }
            else if(@Model.Bookmarks.Count == 1)
                { <p>Welcome, @name! <br>You have @Model.Bookmarks.Count bookmark. <br>Great Job!</p> }
            else
                { <p>Welcome, @name! <br>You have no bookmarks. Come on dude.... Click the paperclip icon on the top right to add a bookmark!</p> }
        </div>

        <div class="card-main">
            <a asp-page="Manage" class="manage-option"><h3><img src="/images/resources/BookmarkIcon.png">Manage Bookmarks</h3></a>
        </div>

        @if (Model.FavoriteBookmarks.Count != 0)
        {
            <div class="card-main">
                <h3>Favorites:</h3>
            </div>
        }
        @{ await DisplayCards(Model.FavoriteBookmarks, 3, true); }

        @if (Model.FollowingBookmarks.Count != 0)
        {
            <div class="card-main">
                <h3>From People You Follow:</h3>
            </div>
        }
        @{ await DisplayCards(Model.FollowingBookmarks, 3, false); }
    </section>
</div>


@functions {
#pragma warning disable 1998
    public async Task DisplayCards(IList<Clippy.Entities.Bookmark> bookmarks, int maxCards, bool showEditButton)
    {
        @if (bookmarks.Count == 0)
        {
            return;
        }

        <div class="card-container">
            @{ int i = 1; }
            @foreach (var bookmark in bookmarks)
            {
                if (i > maxCards) break;

                <div class="card">
                    @{
                        string resourceTitle = null;
                        if (!string.IsNullOrWhiteSpace(bookmark.Title))
                        {
                            resourceTitle = bookmark.Title;
                        }
                        else if (bookmark.Resource.Metadata.ContainsKey("Title") &&
                        bookmark.Resource.Metadata["Title"] != null)
                        {
                            resourceTitle = bookmark.Resource.Metadata["Title"];
                        }
                        else
                        {
                            resourceTitle = bookmark.Resource.Location;
                        }

                        string resourceLocation = null;
                        if (bookmark.Resource.Location.StartsWith("http://") ||
                        bookmark.Resource.Location.StartsWith("https://"))
                        {
                            resourceLocation = bookmark.Resource.Location;
                        }
                        else
                        {
                            resourceLocation = $"//{bookmark.Resource.Location}";
                        }

                        string date = bookmark.CreateDate.ToShortDateString();
                        string description = null;
                        if (!string.IsNullOrWhiteSpace(bookmark.Description))
                        {
                            description = bookmark.Description;
                        }
                        else if (bookmark.Resource.Metadata.ContainsKey("Description") &&
                        bookmark.Resource.Metadata["Description"] != null)
                        {
                            description = bookmark.Resource.Metadata["Description"];
                        }
                        else
                        {
                            description = "No description.";
                        }

                        string imageUrl;
                        if (bookmark.Resource.Metadata.ContainsKey("ImageURL") &&
                        bookmark.Resource.Metadata["ImageURL"] != null)
                        {
                            imageUrl = $"/images/bookmarks/{bookmark.Resource.Metadata["ImageURL"]}";
                        }
                        else
                        {
                            imageUrl = "/images/resources/sad-clippy.jpg";
                        }

                        string name = !string.IsNullOrWhiteSpace(bookmark.User.Name) ? bookmark.User.Name : bookmark.User.Username;
                    }
                    <div class="card-photo-container">
                        <img class="card-photo" src="@imageUrl" alt="Bookmark Image Placeholder" onerror="this.onerror = null; this.src = '/images/resources/sad-clippy.jpg'">
                    </div>
                    <div class="title-icon-container">
                        <span title="@resourceTitle"><h3>
                            @if (bookmark.Favorited)
                            {
                                <i class="fas fa-star"></i>
                            }
                            @resourceTitle
                        </h3></span>
                        @if (Model.ThisUser.Id == bookmark.User.Id)
                        {
                            <a href="/Bookmarks/Edit?id=@bookmark.Id&return=/Bookmarks/Index"><img src="/images/resources/EditBookmarkIcon.png" alt="Edit Bookmark"></a>
                        }
                    </div>

                    <div class="date-description-container">
                        <p class="date">@date</p>
                        <p class="card-description">@description</p>
                    </div>

                    <div class="tags">
                        @if (bookmark.Tags != null)
                        {
                            @foreach (var tag in bookmark.Tags)
                            {
                                <div class="tag"><i class="fas fa-tag"></i>  @tag.TagName</div>
                            }
                        }
                    </div>

                    <div class="author-location-container">
                        <p>Clipped by:<a asp-page="/Profile/Index" asp-route-id="@bookmark.User.Id"> @name</a></p>
                        <a href="@resourceLocation">Link...</a>
                    </div>
                </div>
                i++;
            }
        </div>
    }
#pragma warning restore 1998
}