@page
@model Clippy.Pages.Bookmarks.ManageModel
@{
    ViewData["Title"] = "Bookmarks";
}

@* styles *@
    <link rel="stylesheet" href="/css/bookmarks.css" />

<div class="body">
<section class="options">
    <ul>
        <li><img src="../images/resources/BookmarkIcon.png"><a asp-page="Manage">Manage Bookmarks</a></li>
    </ul>

</section>

<section class="content-manage">
    @foreach (var bookmark in Model.Bookmarks)
    {
        <div class="card">
            @{
                    string resourceTitle = null;
                    if (!string.IsNullOrWhiteSpace(bookmark.Title))
                    {
                        resourceTitle = bookmark.Title;
                    }
                    else if (bookmark.Resource.Metadata.ContainsKey("Title") &&
                    bookmark.Resource.Metadata["Title"] != null)
                    {
                        resourceTitle = bookmark.Resource.Metadata["Title"];
                    }
                    else
                    {
                        resourceTitle = bookmark.Resource.Location;
                    }

                    string resourceLocation = null;
                    if (bookmark.Resource.Location.StartsWith("http://") ||
                    bookmark.Resource.Location.StartsWith("https://"))
                    {
                        resourceLocation = bookmark.Resource.Location;
                    }
                    else
                    {
                        resourceLocation = $"//{bookmark.Resource.Location}";
                    }

                    string date = bookmark.CreateDate.ToShortDateString();
                    string description = null;
                    if (!bookmark.Resource.Metadata.TryGetValue("Description", out description) ||
                    bookmark.Resource.Metadata["Description"] == null)
                    {
                        description = "No description.";
                    }

                    string imageUrl;
                    if (bookmark.Resource.Metadata.ContainsKey("ImageURL") &&
                    bookmark.Resource.Metadata["ImageURL"] != null)
                    {
                        imageUrl = $"/images/bookmarks/{bookmark.Resource.Metadata["ImageURL"]}";
                    }
                    else
                    {
                        imageUrl = "/images/resources/sad-clippy.jpg";
                    }
            }
            <div class="card-photo-container">
                <img class="card-photo" src="@imageUrl" alt="Bookmark Image Placeholder" onerror="this.onerror = null; this.src = '/images/resources/sad-clippy.jpg'">
            </div>
            <div class="title-icon-container">
                <span title="@resourceTitle"><h3>@resourceTitle</h3></span>
                <a asp-page="Edit"><img src="/images/resources/EditBookmarkIcon.png" alt="Edit Bookmark"></a>
            </div>

            <div class="date-description-container">
                <p class="date">@date</p>
                <p class="card-description">@description</p>
            </div>

            <div class="author-location-container">
                <p>Clipped by: @bookmark.User.Name</p>
                <a href="@resourceLocation">Link...</a>
            </div>
        </div>
    }
</section>
</div>
