@page "{id:int}"
@model Clippy.Pages.Admin.Users.DetailsModel
@{
    ViewData["Title"] = "User Details";
}

<div id="main">

    <section id="one">
        <div class="inner">
            <header class="major">
                <h1>User Details (Id: @Model.UserEntity.Id)</h1>
            </header>
            <p><strong>Username:</strong> @Model.UserEntity.Username</p>
            <p><strong>Name:</strong> @Model.UserEntity.Name</p>
            <p><strong>Created:</strong> @Model.UserEntity.CreateDate.ToShortDateString()</p>
            <hr>
            <ul class="actions">
                <li><a asp-page="Index" class="button">Back</a></li>
                <li><form method="Post"><button asp-page-handler="Delete" asp-route-id="@Model.UserEntity.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button></form></li>
            </ul>
        </div>
    </section>

</div>
