@page
@model Clippy.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

@section Banner {
<section id="banner" class="major">
    <div class="inner">
        <header class="major">
            <h1>Clippy API</h1>
        </header>
        <div class="content">
            <p>Premiere social bookmarking API service for knowledge seekers.</p>
            <ul class="actions">
                <li><a href="/swagger/index.html" class="button">Explore the API</a></li>
            </ul>
        </div>
    </div>
</section>
}

<div id="main">

    <!-- One -->
    <section id="one" class="tiles">
        @foreach(var resource in Model.Resources) {
        <article>
            <span class="image">
                <img src="@resource.Metadata["Image"]" alt="@resource.Metadata["Title"]" />
            </span>
            <header class="major">
                <h3><a href="@resource.Location" class="link" target="_blank">@resource.Metadata["Title"]</a></h3>
                <p>@resource.Metadata["Description"]</p>
            </header>
        </article>
        }
    </section>

    <!-- Two -->
    <section id="two">
        <div class="inner">
            <header class="major">
                <h2>Open Source</h2>
            </header>
            <p>Clippy5 is a proud supporter of open source! Run your own social bookmarking service using Clippy. View the source code and documentation on GitHub.</p>
            <ul class="actions">
                <li><a href="https://github.com/Clippy5/Clippy" class="button next" target="_blank">View on GitHub</a></li>
            </ul>
        </div>
    </section>

</div>
