@page
@model Clippy.Pages.Admin.Resources.IndexModel
@{
    ViewData["Title"] = "Resources";
}

<div id="main">

    <section id="one">
        <div class="inner">
            <header class="major">
                <h1>Resources</h1>
            </header>
            <div class="row table-filter">
                <div class="col-4 col-12-xsmall">
                    <input type="text" name="filter" id="filter" onkeyup="filter([1])" value="" placeholder="Filter..." />
                </div>
            </div>
            <div class="table-wrapper">
                <table class="alt table-sort">
                    <thead>
                        <tr>
                            <th data-sort="int"><span>Id</span></th>
                            <th data-sort="string-ins"><span>Title</span></th>
                            <th data-sort="string-ins"><span>Location</span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        @foreach(var resource in Model.Resources) {
                        <tr>
                            <td>@resource.Id</td>
                            @{
                                string resourceTitle = "";
                                if (!resource.Metadata.TryGetValue("Title", out resourceTitle) ||
                                    resource.Metadata["Title"] == null)
                                {
                                    resourceTitle = "None Provided";
                                }
                            }
                            <td>@resourceTitle</td>
                            <td><a href="@resource.Location">@resource.Location</a></td>
                            <td><a asp-page="Details" asp-route-id="@resource.Id">Details</a> <a asp-page="Edit" asp-route-id="@resource.Id">Edit</a></td>
                        </tr>
                        }
                    </tbody>
                </table>
                <ul class="actions">
                    <li><a asp-page="Add" class="button primary">Add</a></li>
                    <li><a asp-page="../Index" class="button">Back</a></li>
                </ul>
            </div>
        </div>
    </section>

</div>

@section Scripts {
<script>
    $(function() {
        $("table").stupidtable();
    });
</script>
}
